/**************************************************** Global elements *************************************************/
body > header {
    background: sprite($sprites, bg-header) repeat-x;
}

body > footer {
    background: sprite($sprites, bg-footer) repeat-x;
}

.main-menu {
    li {
        background: url("../images/menu-right-border.png") right center no-repeat;

        &.last {
            background: none;
        }
    }
}

.system-menu {
    body > footer & {
        li {
            background: url("../images/footer-menu-border.png") right center no-repeat;

            &.last {
                background: none;
            }
        }
    }
}

/**************************************************** HOMEPAGE ********************************************************/
.trips-by-destination {
    .slide-title {
        background: rgba(44, 38, 100, 0.3);
    }
    .slide-descr {
        background: rgba(255, 255, 255, 0.3)
    }
}

.trips-by-type {
    .slide-title {
        background: rgba(0, 0, 0, 0.15);
    }
}

.intro {
    background: url($intro-image) no-repeat;
}

/**************************************************** Inner Pages ********************************************************/
.block {
    @include block-sprite();
}

/**************************************************** Hotel Listing *******************************************************/
.collection-controls {
    background: sprite($sprites, bg-nav-bar) repeat-x;
}
.star-level.indicator {
    background: url($star-image) repeat-x;
}

.facilities-indicator {
    .tennis {
        background: sprite($sprites, facility-tennis);
    }
    .pool{
        background: sprite($sprites, facility-pool);
    }
    .water-sports {
        background: sprite($sprites, facility-water-sports);
    }
    .wifi {
        background: sprite($sprites, facility-wifi);
    }
    .sea {
        background: sprite($sprites, facility-sea);
    }
    .animals {
        background: sprite($sprites, facility-animals);
    }
    .no-kids {
        background: sprite($sprites, facility-no-kids);
    }
}
.level-indicator {
    .charme {
        background: sprite($sprites, level-charme);
    }
    .design {
        background: sprite($sprites, level-design);
    }
    .new {
        background: sprite($sprites, level-new);
    }
    .family {
        background: sprite($sprites, level-family);
    }
    .spa {
        background: sprite($sprites, level-spa);
    }
    .golf {
        background: sprite($sprites, level-golf);
    }
    .gastronomy {
        background: sprite($sprites, level-gastronomy);
    }
}
.type-indicator {
    .golf {
        background: sprite($sprites, type-golf);
    }
    .gastronomy {
        background: sprite($sprites, type-gastronomy);
    }
    .cruise {
        background: sprite($sprites, type-cruise);
    }
    .charme {
        background: sprite($sprites, type-charme);
    }
    .wellness {
        background: sprite($sprites, type-wellness);
    }
    .all-in {
        background: sprite($sprites, type-all-in);
    }
}