// bg
$color-0: #fff;
// website title
$color-1: #1e1e1e;
// website sub-title, main text
$color-2: #5e5e60;
// link, button, headings, links
$color-3: #2c2664;
// header, breadcrumbs, labels (sidebar), aside text
$color-4: #5d5d5d;
// footer
$color-5: #353535;
// labels (main area)
$color-6: #3e3e3f;
// borders
$color-7: #ededed;
// Sidebar menu
$color-8: #efedf9;
// pagination buttons and selectboxes
$color-9: #f5f5f5;
// and their boders
$color-10: #ccc;
// featured price
$color-11: #fa6666;