.block {
    @include block-misc();
}

nav ul {
    list-style: none;
}

.collection-controls {
    border-style: solid;
    border-width: 1px;
    @include border-radius(1px);

    .collection-pagination {
        a {
            border-style: solid;
            border-width: 1px;
        }
    }
}

.gallery {
    list-style: none;
}

.sidebar {
    nav.menu {
        li {
            border-style: solid;
            border-width: 1px;
        }
    }
}

.cart-form {
    input, textarea {
        border-style: solid;
        border-width: 1px;
    }
}