/**************************************************** Global elements *************************************************/
body > header,
body > footer,
body > .main-part {
    width: 100%;

    .container {
        @include container;

        position: relative;
    }
}

body > header {
    height: image-height(sprite-file($sprites, bg-header));
    margin-bottom: $header-height - image-height(sprite-file($sprites, bg-header)) + 15px;

    .container {
        height: $header-height;
    }

    nav {
        position: absolute;
        right: 0;
        top: 125px;
        @include column($blueprint-grid-columns / 3 * 2);
        @include last;

        .main-menu {
            position: absolute;
            right: 0;
            bottom: 0;
        }

        .system-menu {
            position: absolute;
            right: 0;
            bottom: 60px;
        }
    }

    .welcome {
        position: absolute;
        left: 0;
        top: 0;
        height: image-height(sprite-file($sprites, bg-header));
        line-height: image-height(sprite-file($sprites, bg-header));
    }

    .logo {
        position: absolute;
        left: 0;
        top: 38px;
    }
}

body > footer {
    height: image-height(sprite-file($sprites, bg-footer));
    margin-top: 30px;

    .container {
        height: image-height(sprite-file($sprites, bg-footer));
    }

    nav, .copyright, .social-share {
        height: image-height(sprite-file($sprites, bg-footer));
        line-height: image-height(sprite-file($sprites, bg-footer));
    }

    nav {
        @include column($blueprint-grid-columns / 3);
    }

    .copyright {
        @include column($blueprint-grid-columns / 2);
    }

    .social-share {
        @include column($blueprint-grid-columns / 6);
    }
}

.main-menu {
    float: left;
    height: $main-menu-height;
    padding: $main-menu-padding;

    li {
        float: left;
        height: $main-menu-height;
    }

    a {
        display: inline-block;
        height: $main-menu-height;
        line-height: $main-menu-height;
        padding: $main-menu-item-padding;
        margin: $main-menu-item-margin;
    }
}

.system-menu {
    li {
        float: left;
    }

    body > header & {
        li {
            margin: $system-menu-header-item-margin;
        }
    }

    body > footer & {
        li {
            margin: $system-menu-footer-item-margin;
            padding: $system-menu-footer-item-padding;
        }
    }
}

/**************************************************** HOMEPAGE ********************************************************/
.main-part.home nav {
    @include pie-clearfix();

    ul {
        @include pie-clearfix();
    }

    li {
        @include column($blueprint-grid-columns / 6);
        overflow: hidden;
        &.last {
            @include last;
        }
    }

    a {
        display: block;
        font-size: 0;
    }
}

.slide-block {
    position: relative;
    font-size: 0;

    .slide-title {
        position: absolute;
        left: 0;
        top: 0;
        padding: 0 15px;
        display: table;
        width: 100%;
        @include box-sizing(border-box);

        .title {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }
    }
    .trips-by-destination & .slide-title {
        height: 42px;
    }
    .trips-by-type & .slide-title {
        height: 48px;
        bottom: 0;
        top: auto;
    }
    .slide-descr {
        position: absolute;
        bottom: 0px;
        padding: 0 10px;
        display: table;
        width: 100%;
        @include box-sizing(border-box);

        .descr {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }
    }
    .trips-by-destination & .slide-descr {
        height: 119px;
    }
}

// Intro
.intro {
    @include box-sizing(border-box);
    margin: $blueprint-grid-margin auto;
    padding: 20px 40px 0 185px;
    clear: both;
    width: image-width($intro-image);
    height: image-height($intro-image);
}

/**************************************************** INNER PAGES *****************************************************/
.sidebar {
    @include column($blueprint-grid-columns / 4);
    margin-top: $blueprint-grid-margin;

    .block {
        @include block-layout($blueprint-grid-columns / 4, $last: true);
    }

    select, .selectboxit-container .selectboxit {
        width: span($blueprint-grid-columns / 4) - $column-inner-margin * 2 - 3px;
    }

    label {
        display: inline-block;
        height: 18px;
        line-height: 18px;
    }
    label span {
        vertical-align: text-bottom;
        padding-left: 5px;
    }
    
    nav.menu {
        li {
            height: 39px;
            line-height: 40px;
            display: block;
            margin: 2px 0;
            padding-left: $column-inner-margin;
        }
    }
    
    .related-hotels {
        .item {
            float: left;
            clear: both;
            margin-bottom: $column-inner-margin;
        }
        .block-image {
            float: left;
            width: 100px;
        }
        .block-body {
            float: left;
            clear: none;
            width: 100px;
        }
    }
}

.main-area {
    @include column($blueprint-grid-columns / 4 * 3, $last: true);
    margin-top: $blueprint-grid-margin;
}

/**************************************************** Hotel Listing ***************************************************/
.collection-controls {
    clear: both;
    height: image-height(sprite-file($sprites, bg-nav-bar));
    padding: 0 $blueprint-grid-margin;

    .selectboxit-container {
        margin-top: (image-height(sprite-file($sprites, bg-nav-bar)) - 23px - 2px) / 2;
    }
    .collection-count {
        float: left;
        height: image-height(sprite-file($sprites, bg-nav-bar));
        line-height: image-height(sprite-file($sprites, bg-nav-bar));
    }
    .collection-pagination {
        float: left;
        height: image-height(sprite-file($sprites, bg-nav-bar));
        line-height: image-height(sprite-file($sprites, bg-nav-bar));

        label > span {
            margin-right: 5px;
        }

        a {
            display: inline-block;
            width: 25px;
            height: 25px;
            line-height: 26px;
            margin-left: 10px;
            text-align: center;
        }
    }
    .collection-view {
        float: left;
        height: image-height(sprite-file($sprites, bg-nav-bar));
        line-height: image-height(sprite-file($sprites, bg-nav-bar));
    }
    .collection-sorting {
        float: right;
        height: image-height(sprite-file($sprites, bg-nav-bar));
        line-height: image-height(sprite-file($sprites, bg-nav-bar));

        label > span {
            margin-right: 5px;
        }
    }
}

.collection-listing {
    article {
        @include block-layout($blueprint-grid-columns / 4);
        position: relative;

        h3 {
            height: 32px;
        }
        p.description {
            height: 80px;
            overflow: hidden;
        }
        address {
            height: 48px;
            overflow: hidden;
            display: block;
            margin-top: $column-inner-margin;
        }

        footer {
            @include box-sizing(border-box);
            height: image-height(sprite-file($sprites, bg-listing-block-footer));
            padding: $column-inner-margin;
            position: relative;

            .price {
                float: left;
                clear: both;
            }
            .star-level {
                float: left;
                clear: both;
                margin-top: 10px;
            }
            .add-to-cart {
                float: left;
                clear: both;
                margin-top: 15px;
            }
        }

        .featured-indicator {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    section img {
        width: 100%;
        height: 205px;
    }

    .cart-form {
        @include block-layout($blueprint-grid-columns / 4 * 3);

        .column-left {
            @include column($blueprint-grid-columns / 4 * 3 / 5 * 2, $last: false);
            input, select {
                height: 25px;
                line-height: 26px;
            }
        }
        .column-right {
            @include column($blueprint-grid-columns / 4 * 3 / 5 * 3, $last: true);

            textarea {
                height: 124px;
            }
        }

        input, select, textarea {
            @include box-sizing(border-box);
            width: 100%;
        }

        input.add-to-cart {
            width: auto;
        }
    }
}

#touragencySelectBoxItContainer.selectboxit-container .selectboxit {
    width: 295px;
}

.featured-indicator {
    display: inline-block;
    width: image-width(sprite-file($sprites, promo));
    height: image-height(sprite-file($sprites, promo));
}

.add-to-cart {
    height: 34px;
    line-height: 34px;
    padding: 0 14px;
    display: inline-block;
}

.star-level.indicator {
    display: inline-block;
    height: image-height($star-image);

    &.star-1 {
        width: image-width($star-image) * 1;
    }
    &.star-2 {
        width: image-width($star-image) * 2;
    }
    &.star-3 {
        width: image-width($star-image) * 3;
    }
    &.star-4 {
        width: image-width($star-image) * 4;
    }
    &.star-5 {
        width: image-width($star-image) * 5;
    }
    &.star-6 {
        width: image-width($star-image) * 6;
    }
}

.facilities-indicator {
    span {
        display: inline-block;
        margin: 0 $column-inner-margin / 2 0 0;
    }
    .tennis {
        height: image-height(sprite-file($sprites, facility-tennis));
        width: image-width(sprite-file($sprites, facility-tennis));
    }
    .pool{
        height: image-height(sprite-file($sprites, facility-pool));
        width: image-width(sprite-file($sprites, facility-pool));
    }
    .water-sports {
        height: image-height(sprite-file($sprites, facility-water-sports));
        width: image-width(sprite-file($sprites, facility-water-sports));
    }
    .villa {
        height: image-height(sprite-file($sprites, facility-villa));
        width: image-width(sprite-file($sprites, facility-villa));
    }
    .wifi {
        height: image-height(sprite-file($sprites, facility-wifi));
        width: image-width(sprite-file($sprites, facility-wifi));
    }
    .sea {
        height: image-height(sprite-file($sprites, facility-sea));
        width: image-width(sprite-file($sprites, facility-sea));
    }
    .animals {
        height: image-height(sprite-file($sprites, facility-animals));
        width: image-width(sprite-file($sprites, facility-animals));
    }
    .no-kids {
        height: image-height(sprite-file($sprites, facility-no-kids));
        width: image-width(sprite-file($sprites, facility-no-kids));
    }
}

.level-indicator {
    span {
        display: inline-block;
        margin: 0 $column-inner-margin / 2 0 0;
    }
    .charme {
        height: image-height(sprite-file($sprites, level-charme));
        width: image-width(sprite-file($sprites, level-charme));
    }
    .design {
        height: image-height(sprite-file($sprites, level-design));
        width: image-width(sprite-file($sprites, level-design));
    }
    .new {
        height: image-height(sprite-file($sprites, level-new));
        width: image-width(sprite-file($sprites, level-new));
    }
    .family {
        height: image-height(sprite-file($sprites, level-family));
        width: image-width(sprite-file($sprites, level-family));
    }
    .spa {
        height: image-height(sprite-file($sprites, level-spa));
        width: image-width(sprite-file($sprites, level-spa));
    }
    .golf {
        height: image-height(sprite-file($sprites, level-golf));
        width: image-width(sprite-file($sprites, level-golf));
    }
    .gastronomy {
        height: image-height(sprite-file($sprites, level-gastronomy));
        width: image-width(sprite-file($sprites, level-gastronomy));
    }
}

.type-indicator {
    span {
        display: inline-block;
        margin: 0 $column-inner-margin / 2 0 0;
    }
    .golf {
        height: image-height(sprite-file($sprites, type-golf));
        width: image-width(sprite-file($sprites, type-golf));
    }
    .gastronomy {
        height: image-height(sprite-file($sprites, type-gastronomy));
        width: image-width(sprite-file($sprites, type-gastronomy));
    }
    .cruise {
        height: image-height(sprite-file($sprites, type-cruise));
        width: image-width(sprite-file($sprites, type-cruise));
    }
    .charme {
        height: image-height(sprite-file($sprites, type-charme));
        width: image-width(sprite-file($sprites, type-charme));
    }
    .wellness {
        height: image-height(sprite-file($sprites, type-wellness));
        width: image-width(sprite-file($sprites, type-wellness));
    }
    .all-in {
        height: image-height(sprite-file($sprites, type-all-in));
        width: image-width(sprite-file($sprites, type-all-in));
    }
}

.chain-indicator {
    span {
        display: inline-block;
        margin: 0 $column-inner-margin / 2 $column-inner-margin / 2 0;
    }
    .relais-chateaux {
        height: image-height(sprite-file($sprites, chain-relais-chateaux));
        width: image-width(sprite-file($sprites, chain-relais-chateaux));
    }
    .lhw {
        height: image-height(sprite-file($sprites, chain-lhw));
        width: image-width(sprite-file($sprites, chain-lhw));
    }
    .nieuw {
        height: image-height(sprite-file($sprites, chain-nieuw));
        width: image-width(sprite-file($sprites, chain-nieuw));
    }
    .preferred {
        height: image-height(sprite-file($sprites, chain-preferred));
        width: image-width(sprite-file($sprites, chain-preferred));
    }
    .slh {
        height: image-height(sprite-file($sprites, chain-slh));
        width: image-width(sprite-file($sprites, chain-slh));
    }
}

.item-details {
    aside {
        @include column($blueprint-grid-columns * 3/4 / 2 - 1);
    }

    .price {
        float: left;
        clear: both;
        margin-top: 15px;
    }
    .add-to-cart {
        float: left;
        clear: both;
        margin-top: 15px;
    }

    article {
        @include column($blueprint-grid-columns * 3/4 / 2 + 1, $last: true);
        position: relative;
    }
    .star-level {
        float: right;
    }
}

.gallery {
    @include pie-clearfix;

    li {
        @include column(($blueprint-grid-columns * 3/4 / 2 - 1) / 3);
        margin-bottom: $column-inner-margin;

        &.row-last {
            @include last;
        }

        img {
            width: span(($blueprint-grid-columns * 3/4 / 2 - 1) / 3);
            height: span(($blueprint-grid-columns * 3/4 / 2 - 1) / 3);
        }

        &.leading {
            @include column(($blueprint-grid-columns * 3/4 / 2 - 1));

            img {
                width: span(($blueprint-grid-columns * 3/4 / 2 - 1));
                height: span(($blueprint-grid-columns * 3/4 / 2 - 1));
            }
        }
    }
}

.brochures {
    .item {
        @include column($blueprint-grid-columns / 4 * 3 / 3);
        margin-bottom: $blueprint-grid-margin;

        &.row-last {
            @include last;
        }

        img {
            width: 100%;
        }
        text-align: center;
    }
}